---
import { type CollectionEntry, getCollection } from "astro:content";
import { BreaksList } from "@/components/BreaksList";
import MetaFailureSection from "@/components/meta/MetaFailureSection.astro";
import MetaLayout from "@/layouts/MetaLayout.astro";

const breaks = await getCollection("breaks");
const breakSectionsMap = (await getCollection("breakSections")).reduce(
  (map, section) => {
    map[section.id] = section;
    return map;
  },
  {} as Record<string, CollectionEntry<"breakSections">>
);
---

<MetaLayout title="General Information">
  <h1>General Information</h1>
  <section id="about-this-site">
    <h2>About The Museum of Broken Things</h2>
    <p>
      This site is designed to demonstrate a wide range of accessibility
      failures, for teaching and assessment purposes.
    </p>
    <h3>Site Behavior</h3>
    <p><strong>This site is an example only. Do not enter real information!</strong></p>
    <ul>
      <li>The contents are made up</li>
      <li>The site is static; no data is retained by a server</li>
      <li>No real shipping address or payment processing occurs</li>
      <li>
          Registration and sign-in is not processed by a server,
          but it <em>does</em> function locally
          <ul><li>
            i.e., whatever email and password you most recently specified during registration
            will then work on the Sign In page
          </li></ul>
      </li>
      <li>
        No cookies are stored, despite what the home page might suggest
      </li>
      <li>
        Local storage is used for simulated persistence
        (e.g., for sign-in and the gift shop cart)
      </li>
    </ul>
    <p>
      <a href="museum/">Visit the Museum of Broken Things</a>
    </p>
    <p>
      <button id="clear-localStorage">Clear local storage</button>
      (Note: If the site is open in any other tabs, they will need to be reloaded)
    </p>
  </section>

  { /* Hide summary for built version at the moment; show in dev for confirming content */ }
  <section id="summary-of-failures" hidden={import.meta.env.PROD || undefined}>
    <h2>Summary of failures</h2>
    <p>
      This section provides a breakdown of WCAG failures across the site.
    </p>

    {
      import.meta.env.DEV && (
        <p id="dev-error" class="error" hidden>
          The section specified in the hash does not exist. Check for typos in
          href, or make sure to add it to this page.
        </p>
      )
    }

    <BreaksList client:load breaks={breaks} breakSectionsMap={breakSectionsMap} />

    <hr />
    (Existing stuff beyond here, to be replaced)

    <MetaFailureSection href="museum/blog/" title="Blog">
      <p>This section includes the Blog page and related article subpages.</p>

      <p>This section demonstrates a moderate level of content, interaction and multimedia failures.</p>

      <p>
        Point for discussion: In the post titled "Announcing the Addition of a New Wing", there is
        a pull quote from the subsequent paragraph, which appears two sentences later in the article.
        Should the pull quote be hidden from screen readers?
      </p>

      <dl slot="wcag2">
        <dt>1.2.4: Captions (Live)</dt>
        <dd>
          The topmost blog post contains a video element representing a live broadcast,
          which does not include any captions.
        </dd>
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>
          The "Blog" heading is superimposed over an image with no overlay to guarantee minimum contrast.
        </dd>
        <dt>1.4.13: Content on Hover or Focus</dt>
        <dd>
          In the top navigation bar, nested items open on keyboard focus and can only be dismissed by moving focus.
        </dd>
        <dt>2.3.3: Animation from Interactions</dt>
        <dd>
          Images zoom in on hover and do not respect prefers-reduced-motion.
        </dd>
        <dt>2.4.1: Bypass Blocks</dt>
        <dd>
          The "Skip to content" link does not work properly on the blog listing page.
        </dd>
        <dt>2.4.4 and 2.4.9: Link Purpose</dt>
        <dd>
          Each post image, as well as the arrow on the topmost post, links to its post, but has no content to describe the link.
        </dd>
        <dt>2.4.13: Focus Appearance</dt>
        <dd>
          In the top nav, links within submenus indicate focus by only a single border
          located equidistant from the text above and below it, making it ambiguous
          which item is focused. When the last item in a submenu is focused,
          the indicator has low contrast against the page background.
        </dd>
        <dt>2.5.5: Target Size (Enhanced)</dt>
        <dd>
          The link after the excerpt from the topmost post is smaller than 44 by 44 pixels.
        </dd>
        <dt>3.1.1: Error Identification</dt>
        <dd>
          The first post under "In the News" leads to a 404 page with no clear description of what went wrong.
        </dd>
        <dt>4.1.2: Name, Role, Value</dt>
        <dd>
          In the top navigation bar, there is no programmatic indication of expandable items.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Motion</dt>
        <dd>
          Images zoom in on hover and do not respect prefers-reduced-motion.
        </dd>
        <dt>???</dt>
        <dd>
          The "Skip to content" link does not work properly on the blog listing page.
        </dd>
        <dt>Error identification</dt>
        <dd>
          The first post under "In the News" leads to a 404 page with no clear description of what went wrong.
        </dd>
        <dt>Captions</dt>
        <dd>
          The topmost blog post contains a video element representing a live broadcast,
          which does not include any captions.
        </dd>
        <dt>Hover information</dt>
        <dd>
          In the top navigation bar, nested items open on keyboard focus and can only be dismissed by moving focus.
        </dd>
        <dt>Name, role, value, state</dt>
        <dd>In the top navigation bar, there is no programmatic indication of expandable items.</dd>
        <dt>Control labels</dt>
        <dt>Name, role, value, state (needs discussion)</dt>
        <dd>Each post image, as well as the arrow on the topmost post, links to its post, but has no content to describe the link.</dd>
        <dt>Target size</dt>
        <dd>
          The link after the excerpt from the topmost post is smaller than 44 by 44 pixels.
        </dd>
        <dt>Keyboard focus location</dt>
        <dd>
          In the top nav, links within submenus indicate focus by only a single border
          located equidistant from the text above and below it, making it ambiguous
          which item is focused. When the last item in a submenu is focused,
          the indicator has low contrast against the page background.
        </dd>
        <dt>Minimum text contrast</dt>
        <dd>
          The "Blog" heading is superimposed over an image with no overlay to guarantee minimum contrast.
        </dd>
      </dl>

    </MetaFailureSection>

    <MetaFailureSection href="museum/gift-shop/" title="Gift Shop">
      <p>This section includes the Gift shop, product subpages and checkout process.</p>

      <p>This section demonstrates task completion and form based failures.</p>

      <p>Note: One or more items must be in the cart to continue the checkout process.</p>

      <dl slot="wcag2">
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>
          On the category listing page,
          text is superimposed over images with no overlay to guarantee minimum contrast.
        </dd>
        <dd>
          The navigation bar content overflows its background on mobile viewports,
          making the cart link nearly invisible.
        </dd>
        <dt>1.4.13: Content on Hover or Focus</dt>
        <dd>
          In the top navigation bar, nested items open on hover and can only be dismissed by moving the pointer.
        </dd>
        <dt>2.1.1: Keyboard</dt>
        <dd>
          In the top navigation bar, parent items are not focusable (and therefore cannot be opened) via keyboard.
        </dd>
        <dt>2.2.3: No Timing</dt>
        <dd>
          Forms in the checkout process time out after an undisclosed period of time.
        </dd>
        <dt>2.4.6 and 2.4.9: Link Purpose</dt>
        <dd>The cart link contains only an icon, with no text label explaining its purpose.</dd>
        <dt>2.4.7: Focus Visible</dt>
        <dd>The focus is not visible on the increment/decrement buttons that adjust the number of items.</dd>
        <dt>3.2.3: Consistent Navigation</dt>
        <dd>
          The Gift Shop link appears in the header on mobile viewports within gift shop pages,
          but does not appear there outside of the gift shop.
          It also does not appear in the footer on mobile.
        </dd>
        <dt>3.2.6: Consistent Help</dt>
        <dd>
          The help contact number is located above the site footer,
          as opposed to all other pages where it is inside the footer at the end.
        </dd>
        <dt>3.3.1: Error Identification</dt>
        <dd>
          Errors do not specifically describe what expectation was failed for each field.
        </dd>
        <dt>3.3.2: Labels or Instructions</dt>
        <dd>
          Fields have no labels, and no indication is given on accepted input formats.
        </dd>
        <dt>3.3.3: Error Suggestion</dt>
        <dd>
          Errors do not provide suggested corrections.
        </dd>
        <dt>3.3.4 and 3.3.6: Error Prevention</dt>
        <dd>
          There is no confirmation step after entering payment information,
          failing 3.3.4 for financial information in addition to 3.3.6.
        </dd>
        <dt>3.3.5: Help</dt>
        <dd>
          No context-sensitive help is available.
        </dd>
        <dt>3.3.6: Error Prevention (All)</dt>
        <dd>
          The quantity field uses <code>type="tel"</code>, which allows non-numeric input,
          rather than the more appropriate <code>type="number"</code>.
        </dd>
        <dt>4.1.2: Name, Role, Value</dt>
        <dd>
          In the top navigation bar, there is no programmatic indication of expandable items.
        </dd>
        <dt>4.1.3: Status Messages</dt>
        <dd>
          When the payment form becomes disabled, the toast that appears
          does not grab focus and is not announced.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Contrast minimum</dt>
        <dd>
          On the category listing page,
          text is superimposed over images with no overlay to guarantee minimum contrast.
        </dd>
        <dd>
          The navigation bar content overflows its background on mobile viewports,
          making the cart link nearly invisible.
        </dd>
        <dt>Allow automated entry</dt>
        <dd>
          The input fields on the payment step disallow paste.
        </dd>
        <dt>Error association</dt>
        <dd>
          There is no error message programmatically associated with each input.
        </dd>
        <dt>Error identification</dt>
        <dd>
          The only indication of error is a border color change.
        </dd>
        <dt>Error notification</dt>
        <dd>
          Errors do not specifically describe what expectation was failed for each field.
        </dd>
        <dt>Input instructions</dt>
        <dd>
          No indication of input formats is provided.
        </dd>
        <dt>Input labels</dt>
        <dd>
          No input labels are present.
        </dd>
        <dt>Persistent error notification</dt>
        <dd>
          There is no way to dismiss errors until the entire form is resubmitted.
        </dd>
        <dt>Visible error</dt>
        <dd>
          There is only one generic error message, at the top of the entire form.
        </dd>
        <dt>Adequate time</dt>
        <dd>
          There is a timeout on each step that may be too short to enter required information.
        </dd>
        <dt>Action required</dt>
        <dd>
          There is no visible indication of fields being required, until the user attempts to submit.
        </dd>
        <dt>Go back in process</dt>
        <dd>
          There is no mechanism within the page for stepping back through the process,
          or indicating position within the process.
        </dd>
        <dt>Inform at start</dt>
        <dd>
          Nothing is disclosed up-front about the information that will be required to complete checkout.
        </dd>
        <dt>Behavior of controls</dt>
        <dd>
          The toasts displayed for form timeouts on the shipping and payment steps are inconsistent
          with each other (one has role="alert", the other does not).
        </dd>
        <dt>Name, role, value, state</dt>
        <dd>
          In the top navigation bar, there is no programmatic indication of expandable items.
        </dd>
        <dt>Control labels</dt>
        <dt>Name, role, value, state (needs discussion)</dt>
        <dd>The cart link contains only an icon, with no text label explaining its purpose.</dd>
        <dt>Hover information</dt>
        <dd>
          In the top navigation bar, nested items open on hover and can only be dismissed by moving the pointer.
        </dd>
        <dt>Restore focus</dt>
        <dd>
          Upon entering an invalid quantity (e.g. 0), pressing add to cart, then dismissing the modal,
          focus is not restored to the add to cart button.
        </dd>
        <dt>Keyboard focus location</dt>
        <dd>The focus is not visible on the increment/decrement buttons that adjust the number of items.</dd>
        <dt>Keyboard only</dt>
        <dd>
          In the top navigation bar, parent items are not focusable (and therefore cannot be opened) via keyboard.
        </dd>
        <dt>Focus retention</dt>
        <dd>
          Upon entering an invalid quantity (e.g. 0), the modal that appears does not
          grab, trap, and restore focus.
        </dd>
        <dt>Multistep process</dt>
        <dd>No context is given with regard to progress through the checkout process.</dd>
        <dt>Notification of change</dt>
        <dd>
          When the payment form becomes disabled, the toast that appears
          does not grab focus and is not announced.
        </dd>
        <dt>Consistent Navigation</dt>
        <dd>
          The Gift Shop link appears in the header on mobile viewports within gift shop pages,
          but does not appear there outside of the gift shop.
          It also does not appear in the footer on mobile.
        </dd>
        <dt>Ambiguous numerical formatting</dt>
        <dd>
          In the footer, the year of the site's creation is expressed in Roman numerals.
        </dd>
        <dt>Numbered steps</dt>
        <dd>
          Checkout steps are not numbered; progress through the process is not indicated at all.
        </dd>
        <dt>Consistent help</dt>
        <dd>
          The help contact number is located above the site footer,
          as opposed to all other pages where it is inside the footer at the end.
        </dd>
        <dt>Contextual help</dt>
        <dd>
          No contextual help is available.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/volunteer/" title="Volunteer">
      <p>This section includes the volunteer sign up process pages.</p>

      <p>This section includes task completion and form based failures. This includes a small number of errors.</p>

      <dl slot="wcag2">
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>
          The "did you mean" email prompt has insufficient contrast.
        </dd>
        <dt>2.2.3: No Timing</dt>
        <dd>
          The volunteer form becomes unsubmittable after a short time,
          and the toast informing of this change disappears after a few seconds.
        </dd>
        <dt>2.2.6: Timeouts</dt>
        <dd>
          The form becomes unsubmittable after a short time period which is not disclosed in advance.
        </dd>
        <dt>4.1.3: Status Messages</dt>
        <dd>
          When the form becomes disabled, the toast that appears
          does not grab focus and is not announced.
        </dd>
        <dd>
          The "did you mean" email prompt doesn't grab focus and isn't announced.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Minimum text contrast</dt>
        <dd>
          The "did you mean" email prompt has insufficient contrast.
        </dd>
        <dt>Error identification</dt>
        <dd>
          The "did you mean" email prompt isn't programmatically associated with the error source.
        </dd>
        <dt>Persistent error notification</dt>
        <dd>
          The timeout notification toast dismisses itself automatically
          without waiting for the user.
        </dd>
        <dt>Adequate time</dt>
        <dd>
          There is a timeout that may be too short to enter required information,
          which the user is not notified about.
          The toast that appears when the timeout lapses disappears after a few seconds.
        </dd>
        <dt>Notification of change</dt>
        <dd>
          When the form becomes disabled, the toast that appears
          does not grab focus and is not announced.
        </dd>
      </dl>
    </MetaFailureSection>
  </section>

  <section id="acknowledgment">
    <h2>Acknowledgment</h2>
    <p>
      The Museum of Broken Things was created by the <a href="https://www.w3.org/WAI/about/groups/agwg/">W3C Accessibility Guidelines Working Group</a> and <a href="https://accessiblecommunity.org/">Accessible Community</a>.
    </p>

    <h2>Individual Contributors</h2>
    <ul>
      <li>Ken Franqueiro</li>
      <li>Francis Storr</li>
      <li>Rachael Bradley Montgomery</li>
      <li>Alastair Campbell</li>
      <li>Asher Kolieboi</li>
      <li>Ellen Liebert</li>
      <li>Brian Montgomery</li> 
      <li>Matt Russell</li>
      <li>Kevin White</li>
    </ul>
  </section>

  <section>
    <h2>License</h2>
    <p>
      This repository is licensed under the
      <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, version 2.0</a>.
    </p>
  </section>
</MetaLayout>

<script>
  import { clear } from "@/lib/client/store";

  document.getElementById("clear-localStorage")!.addEventListener("click", () => {
    clear();
  });

  if (
    import.meta.env.DEV &&
    location.hash &&
    !document.getElementById(location.hash.slice(1))
  ) {
    document.getElementById("dev-error")!.hidden = false;
  }
</script>

<style is:global>
  form {
    & div {
      display: flex;
      gap: 1rem;
      margin: 0.5rem;
    }
    & label {
      width: 8em;
    }
  }

  dt {
    font-weight: bold;
  }

  dd + dt {
    margin-top: calc(1rem * var(--ms-3));
  }

  .photosensitivity {
    color: #eb0000;
    font-weight: bold;
    padding: 0.25em;
  }
</style>
